
.top-bar {
	background: #ffffff;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	border-bottom: 5px solid #808080;
	height: 50px;
	line-height: 50px; }
	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	border-bottom: solid 1px #dbdbdb;
	border-top: solid 1px #dbdbdb;
	border-right: solid 2px #eeeeee;
	clear: none;
	height: 45px;
	width: 0;
}
.top-bar-section ul li {
	background: #ffffff;
	}
	.top-bar-section ul li > a {
		color: #008cba;
		background: #efefef;
		display: block;
		width: 100%;
		padding: 12px 0 12px 0;
		padding-left: 15px;
		font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		font-size: 0.95rem;
		font-weight: normal;
		text-transform: none;
		}
	.top-bar-section ul li > a.button {
		font-size: 0.8125rem;
		padding-right: 15px;
		padding-left: 15px;
		}
	.top-bar-section li a:not(.button) {
		background: #f9f9f9;
		color: #008cda;
		}
	.top-bar-section li a:not(.button):hover {
		background-color: #f9f9f9;
		color: #ffffff;
		}
	.top-bar-section li.hover > a:not(.button) {
		background-color: #d7dfc0;
		background: #008cba;
		color: #FFFFFF;
		}
	.top-bar-section li:not(.has-form) a:not(.button) {
		background: #333333;
		line-height: 2.8125rem;
		padding: 0 0.9375rem;
		}
	.top-bar-section li:not(.has-form) a:not(.button):hover {
		background-color: #d7dfc0;
		background: #008cba;
		color: #ffffff;
		}

/* The top-bar main item with sub-menu without mouse-over */
.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: #dddddd;
	color: #808080;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #ffffff;
}

.top-bar-section .has-dropdown {
	position: relative; }
	.top-bar-section .has-dropdown > a:after {
		border: inset 5px;
		content: "";
		display: block;
		height: 0;
		width: 0;
		border-color: #eeeeee transparent transparent transparent;
		border-left-style: solid;
		margin-right: 15px;
		margin-top: -2.5px;
		position: absolute;
		top: 50%;
		right: 0; }
	.top-bar-section .has-dropdown.moved {
		position: static; }
	.top-bar-section .has-dropdown.moved > .dropdown {
		position: static !important;
		height: auto;
		width: auto;
		overflow: visible;
		clip: auto;
		display: block;
		position: absolute !important;
		width: 100%; }
	.top-bar-section .has-dropdown.moved > a:after {
		display: none; }
.top-bar-section .dropdown {
	left: 0;
	background: transparent;
	min-width: 100%;
	top: auto; }
	.top-bar-section .dropdown li a {
		background: #d7dfc0;
		color: #FFFFFF;
		line-height: 2.8125rem;
		padding: 12px 0.9375rem;
		white-space: nowrap; }
	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
		background: #d7dfc0;
		color: #FFFFFF; }
	.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
		background-color: #008cba;
		color: #FFFFFF;
		background: #008cba; }
	.top-bar-section .dropdown li label {
		background: #008cba;
		white-space: nowrap; }
	.top-bar-section .dropdown li .dropdown {
		left: 100%;
		top: 0; }

header {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin-top: 0.01em;
	margin-buttom: 0.01em;
	color: #008cba;
}

footer {
	width: 100%;
	padding: 30px 0 0;
	background-color: #d7dfc0;
	color: #554A47;
	margin: 0 0 -30px 0;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#content-row {
	padding-bottom: 100px;
}

.row {
	max-width: 100%
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.label {
	display: inline-block;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: normal;
	line-height: 1;
	margin-bottom: auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 0.45rem 0.5rem 0.375rem;
	font-size: 1.0rem;
	border-radius: 0px;
	border: 0px solid #554A47;
	background-color: #d7dfc0;
	color: #554a47; }
.label.radius {
	border-radius: 3px; }
.label.round {
	border-radius: 1000px; }
.label.alert {
	background-color: #f04124;
	color: #FFFFFF; }
.label.warning {
	background-color: #f08a24;
	color: #FFFFFF; }
.label.success {
	background-color: #43AC6A;
	color: #FFFFFF; }
.label.secondary {
	background-color: #e7e7e7;
	color: #333333; }
.label.info {
	background-color: #a0d3e8;
	color: #333333; }

.center {
	width: 1040px;
	margin: 0 auto;
	padding-top: 110px !important;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

html, body {
	margin: 0;
	padding: 0;
	height: auto;
	background: #ffffff;
}
hr {
	border: solid #d7dfc0;
	border-width: 4px 0 0;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
small {
	font-size: 40%;
	line-height: inherit;
}
h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 2.75rem; }

h2 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 2.3125rem; }

h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.6875rem; }

h4 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.4375rem; }

h5 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.125rem; }

h6 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1rem; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #808080;
	font-size: 40%;
	line-height: 0; }